*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../img/pattern.png);
    background-size:auto;
    background-repeat: repeat;
    background-color: hsl(212deg 100% 65%);
    height: 180px;
    position: relative;
}

header>img{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

main{
    padding: 10px;
}

h1{
    font-size: 60px;
    margin-top: 20px;
}

#author{
    font-size: 30px;
    font-weight:300;
    color: grey;
}

#author>span{
    color: hsl(198deg 89% 47%);
}

#date{
     font-size: 20px;
    font-weight:300;
    color: grey;
}